apache-beam[gcp]==2.38.0
google-ads==15.1.1
google-api-python-client==2.45.0
google-cloud-bigquery==2.34.3
google-cloud-firestore==2.4.0
google-cloud-storage==2.2.1

aiohttp==3.6.2


# These packages are indirected dependencies.
# Their versions are fixed here to improove resolution time.
google_auth==1.35.0
fasteners==0.17.3
google_api_core==1.31.5

# Test deps
mypy==0.790
pytest==5.4.3
pytest-cov==2.10.0
pytest-mock==3.2.0
pytz==2021.3
requests-mock==1.8.0
pandas==1.1.5
boto3==1.21.4
pyparsing==2.4.7
proto-plus==1.19.6
protobuf==3.20.0
errorhandler==2.0.1