apache-beam==2.40.0
google-ads-megalista
google-api-python-client==2.81.0
google-cloud-bigquery==3.3.0
google-cloud-firestore==2.4.0
google-cloud-storage==2.7.0
aiohttp==3.8.3
# These packages are indirected dependencies.
# Their versions are fixed here to improove resolution time.
google_auth==2.16.2
fasteners==0.18
google-apitools==0.5.32
# Test deps
mypy==0.790
pytest==7.2.2
pytest-cov==4.0.0
pytest-mock==3.10.0
pytz==2021.3
requests-mock==1.8.0
pandas==1.5.3
boto3==1.26.66
protobuf==3.20.3