# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python testing

on:
  push:
    branches: [ develop ]
  pull_request:
    branches: [ main ]

jobs:
  unit_testing:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r megalista_dataflow/requirements.txt
        pip install --no-deps -r megalista_dataflow/requirements-no-deps.txt
    - name: Run tests
      run: |
        ./run_tests.sh
